<div class="yeild">

	<% @users.each do |user| %><br>
		<div class="friend-list">
			<div class="thumb"><%= image_tag(user.avatar.url(:thumb)) %></div>
			<div><strong><%= user.username %></strong></div>
			<div><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></div>
		</div>
	<% end %>

<br><hr><br><br>

	<div class="notice"><%= notice %></div>
	<div class="alert"><%= alert %></div>

</div>