<div class="yeild">
<div class="thumb"><%= image_tag(current_user.avatar.url(:thumb)) %></div><b><%= @post.user.username %></b> has posted on date <%= @post.post_date.strftime("%d/%m/%Y") %> 
        <% if current_user && @post.user == current_user %>
        <div class="e-d"><%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
        <p><%= sanitize @post.body %></p>
        <hr>
        <%= link_to "Like" %> = 321
        <%= link_to "Comment" %> = 434
</div>
